html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "digital-clock-font";
  src: url("../fonts/Digital Dismay.otf");
}

#title h1 {
  font-family: "Lobster", cursive;
  text-align: center;
  padding: 20px;
}

.outerBorderDiv {
  width: 50%;
  margin: auto;
  padding: 12px 25px;
  border-radius: 30px;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#ffffff), color-stop(#fafafc), color-stop(#f3f5f9), color-stop(#ecf1f6), to(#e4edf3));
  background-image: linear-gradient(to left bottom, #ffffff, #fafafc, #f3f5f9, #ecf1f6, #e4edf3);
  -webkit-box-shadow: 2px 3px 15px -2px rgba(92, 91, 91, 0.75);
          box-shadow: 2px 3px 15px -2px rgba(92, 91, 91, 0.75);
}

#timerContainer {
  background-image: -webkit-gradient(linear, left top, right top, from(#cbd3c4), color-stop(#c3cdbc), color-stop(#bbc8b4), color-stop(#b3c2ac), to(#abbda5));
  background-image: linear-gradient(to right, #cbd3c4, #c3cdbc, #bbc8b4, #b3c2ac, #abbda5);
  border-radius: 20px;
  border: 1.5px solid black;
  -webkit-box-shadow: 2px 3px 5px -2px rgba(92, 91, 91, 0.459);
          box-shadow: 2px 3px 5px -2px rgba(92, 91, 91, 0.459);
}

#timerContainer .timer {
  font-family: "digital-clock-font";
  height: 20vh;
  font-size: 5.5rem;
  font-weight: bold;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#timerContainer .separateLine {
  margin: 0;
}

#timerContainer .leftContainerTotalTime,
#timerContainer .rightContainerCycles,
#timerContainer .middleContainerTotalTime {
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "digital-clock-font";
  font-size: 1.6rem;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

#timerContainer small {
  font-family: serif;
  font-size: 13px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#timerContainer .timeLeft {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#inputsForTimer {
  margin-top: 20px;
}

#inputsForTimer .inputsForTimerCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#inputsForTimer .inputsForTimerCol input {
  font-family: "digital-clock-font";
  border: none;
  -webkit-box-shadow: -1px 5px 30px -5px rgba(212, 211, 211, 0.664);
          box-shadow: -1px 5px 30px -5px rgba(212, 211, 211, 0.664);
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.3rem;
  width: 50%;
  margin: 5px auto;
  text-align: center;
}

#inputsForTimer .inputsForTimerCol input:hover {
  background: #ebe8e8;
  -webkit-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}

#inputsForTimer .inputsForTimerCol label {
  text-align: center;
}

#inputsForTimer .start {
  font-family: sans-serif;
  width: 50%;
  border: none;
  margin: 20px auto 0 auto;
  -webkit-box-shadow: -1px 4px 10px 0px rgba(49, 49, 49, 0.212);
          box-shadow: -1px 4px 10px 0px rgba(49, 49, 49, 0.212);
  font-weight: bold;
}

#inputsForTimer .start:hover {
  -webkit-box-shadow: -1px 4px 10px 0px rgba(49, 49, 49, 0.644);
          box-shadow: -1px 4px 10px 0px rgba(49, 49, 49, 0.644);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@media only screen and (max-width: 700px) {
  .outerBorderDiv {
    width: 90%;
  }
  #inputsForTimer .inputsForTimerCol input {
    width: 85%;
  }
  #inputsForTimer .start {
    width: 85%;
  }
}
/*# sourceMappingURL=style.css.map */